@import 'vars.scss';

html {
    font-size: 10px;
    height: 100%;
}

.app, #root {
    min-height: 100vh;
}
html, body {
    margin:0;
    padding:0;
}

*, ::before, ::after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

h1 {
    font-size: 6rem;
    font-weight: 600;
}

h2 {
    font-size: 4rem;
    font-weight: 600;
}

h3 {
    font-size: 3rem;
    font-weight: 600;
}

h4 {
    font-size: 2.4rem;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.6rem;
    line-height: 1;
    min-height: 100%;
    font-weight: 400;
}


a {
    text-decoration: none;
    color: $text-fg;
}

a, a:hover {
    -webkit-transition: all .4 ease-in-out;
    -moz-transition: all .4 ease-in-out;
    transition:  all .4 ease-in-out;
}

ul {
    list-style: none;
    li {
        margin-right: .5rem;
    }
}

.flex {
    display: flex;
    flex-wrap: wrap;
}
