@import "_vars.scss";


.footer {
    background-color: $secondary;
    height: 20rem;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}


.header {
    background-color: azure;
    height: 7rem;
    width: 100%;
    box-shadow: 5px 3px 10px rgba(27, 26, 26, 0.267);
}

.navigation {
    text-transform: uppercase;
    font-weight: 400;
    background-color: $secondary;
    color: $text-white;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#logo {
    margin-left: 2rem;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: .2rem;
    font-size: 3rem;
}
.navigation ul{
    height: 100%;
    margin: 0;
    justify-content: center;
    display: flex;
    li {
        height: 100%;
        align-self: center;
        margin-right: 3rem;
        font-size: 1.8rem;
        display: flex;
        justify-content: center;
        align-items: center;
        a {
            color: $text-white;
            &:hover,&:focus {
                color: $primary;
                text-decoration: none;
            }
        }
    }
}