
@import "../_vars";


.intro {
    padding: 1rem 0;
    img {
        filter: drop-shadow(3px 5px 5px rgba(0, 0, 0, 0.356));
        width: 100%;
        height: auto;
    }
    h1 {
        color: $primary;
    }
    .flex{
        align-items: center;
        justify-content: space-between;
    }
    p {
        line-height: 1.8rem;
        text-align: left;
        font-size: 1.2rem;
        max-width: 500px;
    }

    .actions {

        padding: 0;
    }
}